<a href="https://colab.research.google.com/github/rcmadden/courses/blob/main/Ai-Programming-With-Python/python_review.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Review

## Quiz: Nearest Square

Write a while loop that finds the largest square number less than an integer limit and stores it in a variable nearest_square. A square number is the product of an integer multiplied by itself, for example 36 is a square number because it equals 6*6.

For example, if limit is 40, your code should set the nearest_square to 36.

In [ ]:
## My Solution finds THE square (not nearest)
limit = 36
start_num = int(limit / 2)
nearest_square = None

for nearest_square in range(start_num, 0, -1):
  print(nearest_square)
  if nearest_square * nearest_square == limit:
    print(start_num, nearest_square)
    print(f'{limit} is a perfect square of {nearest_square} squared')
    break
print(nearest_square)

18
17
16
15
14
13
12
11
10
9
8
7
6
18 6
36 is a perfect square of 6 squared
6

In [ ]:
# modify the code above to find the nearest square

In [ ]:
## Course Solution
num = 0
while (num+1)**2 < limit:
    num += 1
    print(num)
nearest_square = num**2

print(limit, nearest_square)

1
2
3
4
5
36 25

##Would you use a while or a for loop to write this code?

You need to write a loop that takes the numbers in a given list named num_list:

In [ ]:
num_list = [422, 136, 524, 85, 96, 719, 85, 92, 10, 17, 312, 542, 87, 23, 86, 191, 116, 35, 173, 45, 149, 59, 84, 69, 113, 166]

Your code should add up the odd numbers in the list, but only up to the first 5 odd numbers together. If there are more than 5 odd numbers, you should stop at the fifth. If there are fewer than 5 odd numbers, add all of the odd numbers.

In [ ]:
num_list = [422, 136, 524, 85, 96, 719, 85, 92, 10, 17, 312, 542, 87, 23, 86, 191, 116, 35, 173, 45, 149, 59, 84, 69, 113, 166]
odd_sum = 0
count = 0
for num in num_list:
  if num % 2 != 0:
    odd_sum += num
    count += 1
  if count == 5:
    break
print(odd_sum)

993

In [ ]:
num_list = [422, 136, 524, 85, 96, 719, 85, 92, 10, 17, 312, 542, 87, 23, 86, 191, 116, 35, 173, 45, 149, 59, 84, 69, 113, 166]
odd_sum = 0
count = 0
i = 0
while count < 5:
  if num_list[i] % 2 != 0:
    odd_sum += num_list[i]
    count += 1
  i += 1
print(odd_sum)

993

In [ ]:
## Break, Continue
manifest = [("bananas", 15), ("mattresses", 24), ("dog kennels", 42), ("machine", 120), ("cheeses", 5)]

# the code breaks the loop when weight exceeds or reaches the limit
print("METHOD 1")
weight = 0
items = []
for cargo_name, cargo_weight in manifest:
    print("current weight: {}".format(weight))
    if weight >= 100:
        print("  breaking loop now!")
        break
    else:
        print("  adding {} ({})".format(cargo_name, cargo_weight))
        items.append(cargo_name)
        weight += cargo_weight

print("\nFinal Weight: {}".format(weight))
print("Final Items: {}".format(items))

METHOD 1
current weight: 0
  adding bananas (15)
current weight: 15
  adding mattresses (24)
current weight: 39
  adding dog kennels (42)
current weight: 81
  adding machine (120)
current weight: 201
  breaking loop now!

Final Weight: 201
Final Items: ['bananas', 'mattresses', 'dog kennels', 'machine']

In [ ]:
# skips an iteration when adding an item would exceed the limit
# Breaks the loop if weight is greater than or equal to the limit
print("\nMETHOD 2")
weight = 0
items = []
for cargo_name, cargo_weight in manifest:
    print("current weight: {}".format(weight))
    if weight >= 100:
        print("  breaking from the loop now!")
        break
    elif weight + cargo_weight > 100:
        print("  skipping {} ({})".format(cargo_name, cargo_weight))
        continue
    else:
        print("  adding {} ({})".format(cargo_name, cargo_weight))
        items.append(cargo_name)
        weight += cargo_weight

print("\nFinal Weight: {}".format(weight))
print("Final Items: {}".format(items))

METHOD 2
current weight: 0
  adding bananas (15)
current weight: 15
  adding mattresses (24)
current weight: 39
  adding dog kennels (42)
current weight: 81
  skipping machine (120)
current weight: 81
  adding cheeses (5)

Final Weight: 86
Final Items: ['bananas', 'mattresses', 'dog kennels', 'cheeses']

## Quiz: Break the String

Write a loop with a break statement to create a string, news_ticker, that is exactly 140 characters long. You should create the news ticker by adding headlines from the headlines list, inserting a space in between each headline. If necessary, truncate the last headline in the middle so that news_ticker is exactly 140 characters long.

In [ ]:
a_string = ''
a_string += 'russi'
a_string += 'a madden'
print(a_string)
a_string

russia madden

In [ ]:
# HINT: modify the headlines list to verify your loop works with different inputs
headlines = ["Local Bear Eaten by Man",
             "Legislature Announces New Laws",
             "Peasant Discovers Violence Inherent in System",
             "Cat Rescues Fireman Stuck in Tree",
             "Brave Knight Runs Away",
             "Papperbok Review: Totally Triffic"]

news_ticker = ""
i = 0
# write your loop here
while len(news_ticker) < 141:
  news_ticker += headlines[i]
  i += 1

remove_extra_chars = len(news_ticker) - 141

news_ticker = news_ticker[:-remove_extra_chars]
print(news_ticker)
print(len(news_ticker))

Local Bear Eaten by ManLegislature Announces New LawsPeasant Discovers Violence Inherent in SystemCat Rescues Fireman Stuck in TreeBrave Knig
141

In [ ]:
# HINT: modify the headlines list to verify your loop works with different inputs
headlines = ["Local Bear Eaten by Man",
             "Legislature Announces New Laws",
             "Peasant Discovers Violence Inherent in System",
             "Cat Rescues Fireman Stuck in Tree",
             "Brave Knight Runs Away",
             "Papperbok Review: Totally Triffic"]

news_ticker = ""
# write your loop here
i = 0

for headline in headlines:
    if len(news_ticker) + len(headline) >= 140:
        news_ticker += headline
        break
    else:
        news_ticker += headline + ' '
        i += 1

remove_extra_chars = len(news_ticker) - 140
news_ticker = news_ticker[:-remove_extra_chars]
print(news_ticker)
print(len(news_ticker))

Local Bear Eaten by Man Legislature Announces New Laws Peasant Discovers Violence Inherent in System Cat Rescues Fireman Stuck in Tree Brave
140

In [ ]:
# Solution
headlines = ["Local Bear Eaten by Man",
             "Legislature Announces New Laws",
             "Peasant Discovers Violence Inherent in System",
             "Cat Rescues Fireman Stuck in Tree",
             "Brave Knight Runs Away",
             "Papperbok Review: Totally Triffic"]

news_ticker = ""
for headline in headlines:
    news_ticker += headline + " "
    if len(news_ticker) >= 140:
        news_ticker = news_ticker[:140]
        break

print(news_ticker)

##Quiz Check for Prime Numbers
Prime numbers are whole numbers that have only two factors: 1 and the number itself. The first few prime numbers are 2, 3, 5, 7.

For instance, 6 has four factors: 1, 2, 3, 6.

1 X 6 = 6

2 X 3 = 6

So we know 6 is not a prime number.

    If the numbers are prime, the code should print "[number] is a prime number."
    If the number is NOT a prime number, it should print "[number] is not a prime number", and a factor of that number, other than 1 and the number itself: "[factor] is a factor of [number]".

Example output: 7 IS a prime number 26 is NOT a prime number, because 2 is a factor of 26

In [ ]:
# write code to check if the numbers provided in the list check_prime are prime numbers.
# prime: 2, 3, 5, 7
# NOT_prime: 6, 26
check_prime = [2, 3, 5, 6, 7, 26]
# check_factors
# 2:  2 - (2-1) = 1 == prime
# 3:      (3-1) = 2
#                 2 * 2 == 3 False
#         (2-1) = 1 == prime
# 6:  6 - (6-1) = 5
#                 5 * (6-5) == 6 False
#         (5-1) = 4
#                 4 * (6-4) == 6 False
#         (4-1) = 3 * (6-3) == 6 False
#         (3-1) = 2 * (6-2)

In [ ]:
factors = [2,3,5,7,9]

def is_prime(number):
    for factor in factors:
        if number % factor == 0 and number != factor:
            return factor, False
    return factor, True

# prime: 2, 3, 5, 7
# NOT_prime: 6, 26
check_prime = [2, 3, 5, 6, 7, 26]

for number in check_prime:
    print(is_prime(number))
    factor, prime = is_prime(number)
    if prime:
        print(f'{number} is a prime number')
    else:
        print(f'{number} is NOT a prime number, because {number} is a factor of {factor}')

(9, True)
2 is a prime number
(9, True)
3 is a prime number
(9, True)
5 is a prime number
(2, False)
6 is NOT a prime number, because 6 is a factor of 2
(9, True)
7 is a prime number
(2, False)
26 is NOT a prime number, because 26 is a factor of 2

In [ ]:
check_prime = [26, 39, 51, 53, 57, 79, 85]

for num in check_prime:
    if num == 2:
        print("{} IS a prime number".format(num))
        continue

## search for factors, iterating through numbers ranging from 2 to the number itself

    for i in range(2, num):

    ## number is not prime if modulo is 0

        if (num % i) == 0:
            print("{} is NOT a prime number, because {} is a factor of {}".format(num, i, num))
            break

    ## otherwise keep checking until we've searched all possible factors, and then declare it prime

        if i == num -1:
            print("{} IS a prime number".format(num))

26 is NOT a prime number, because 2 is a factor of 26
39 is NOT a prime number, because 3 is a factor of 39
51 is NOT a prime number, because 3 is a factor of 51
53 IS a prime number
57 is NOT a prime number, because 3 is a factor of 57
79 IS a prime number
85 is NOT a prime number, because 5 is a factor of 85

In [1]:
#Quiz Zip and Enumerate
# Use zip to write a for loop that creates a string specifying the label and coordinates of each point and appends it to the list points.

# Each string should be formatted as label: x, y, z

x_coord = [23, 53, 2, -12, 95, 103, 14, -5]
y_coord = [677, 233, 405, 433, 905, 376, 432, 445]
z_coord = [4, 16, -6, -42, 3, -6, 23, -1]
labels = ["F", "J", "A", "Q", "Y", "B", "W", "X"]
points = []
# write your for loop here
for labels, x_coord, y_coord, z_coord in zip(labels, x_coord, y_coord, z_coord
):
#     print(f'{labels}: {x_coord}, {y_coord}, {z_coord}')
    points.append(f'{labels}: {x_coord}, {y_coord}, {z_coord}')

print(points)

['F: 23, 677, 4', 'J: 53, 233, 16', 'A: 2, 405, -6', 'Q: -12, 433, -42', 'Y: 95, 905, 3', 'B: 103, 376, -6', 'W: 14, 432, 23', 'X: -5, 445, -1']

In [14]:
# Quiz Solution Zip Coordinates
x_coord = [23, 53, 2, -12, 95, 103, 14, -5]
y_coord = [677, 233, 405, 433, 905, 376, 432, 445]
z_coord = [4, 16, -6, -42, 3, -6, 23, -1]
labels = ["F", "J", "A", "Q", "Y", "B", "W", "X"]
points = []
for point in zip(labels, x_coord, y_coord, z_coord):
    points.append("{}: {}, {}, {}".format(*point))

for point in points:
    print(point)

F: 23, 677, 4
J: 53, 233, 16
A: 2, 405, -6
Q: -12, 433, -42
Y: 95, 905, 3
B: 103, 376, -6
W: 14, 432, 23
X: -5, 445, -1

In [2]:
## Quiz: Zip Lists to a Dictionary
# Use `zip` to create a dictionary `cast` that uses `names` as keys and `heights` as values.
cast_names = ["Barney", "Robin", "Ted", "Lily", "Marshall"]
cast_heights = [72, 68, 72, 66, 76]

cast = {} # replace with your code
for cast_names, cast_heights in zip(cast_names, cast_heights):
    cast[cast_names] = cast_heights

print(cast)

{'Barney': 72, 'Robin': 68, 'Ted': 72, 'Lily': 66, 'Marshall': 76}

In [12]:
# Zip Lists to a Dictonary Quiz Solution
cast_names = ["Barney", "Robin", "Ted", "Lily", "Marshall"]
cast_heights = [72, 68, 72, 66, 76]

cast = dict(zip(cast_names, cast_heights))
print(cast)

{'Barney': 72, 'Robin': 68, 'Ted': 72, 'Lily': 66, 'Marshall': 76}

In [3]:
# Quiz: Unzip Tuples

# Unzip the cast tuple into two names and heights tuples.
cast = (("Barney", 72), ("Robin", 68), ("Ted", 72), ("Lily", 66), ("Marshall", 76))
# define names and heights here
# names, heights = (),() # replace with your code
names, heights = zip(*cast)

print(names)
print(heights)

('Barney', 'Robin', 'Ted', 'Lily', 'Marshall')
(72, 68, 72, 66, 76)

In [4]:
# Quiz: Transpose with Zip

# Use zip to transpose data from a 4-by-3 matrix to a 3-by-4 matrix.

data = ((0, 1, 2), (3, 4, 5), (6, 7, 8), (9, 10, 11))

one,two,three = zip(*data)

data_transpose = one, two, three
print(data_transpose)

((0, 3, 6, 9), (1, 4, 7, 10), (2, 5, 8, 11))

In [8]:
# Course Solution Transpose with Zip
data_transpose = tuple(zip(*data))
print(data_transpose)

((0, 3, 6, 9), (1, 4, 7, 10), (2, 5, 8, 11))

In [5]:
# Enumerate

# Use enumerate to modify the cast list so that each element contains the name followed by the character's corresponding height.

In [6]:
cast = ["Barney Stinson", "Robin Scherbatsky", "Ted Mosby", "Lily Aldrin", "Marshall Eriksen"]
heights = [72, 68, 72, 66, 76]
# write your for loop here
for i, chars in enumerate(cast):
    cast[i] = chars + ' ' + str(heights[i])
print(cast)

['Barney Stinson 72', 'Robin Scherbatsky 68', 'Ted Mosby 72', 'Lily Aldrin 66', 'Marshall Eriksen 76']